<% project.tasks.each do |task| %>
  <ul class="list-group">
    <li class="list-group-item">
      <% if task.status == true %>
        <span class="glyphicon glyphicon-ok"></span>
      <% end %>
      <span class="badge">
        <%= link_to '<span class="glyphicon glyphicon-trash"></span>'.html_safe, project_task_path(project, task), method: :delete, data: {confirm: 'Are you sure?'} %>
      </span>
      <span class="badge">
        <%= link_to'<span class="glyphicon glyphicon-pencil"></span>'.html_safe, edit_project_task_path(project, task) %>
      </span>
      <span class="badge">
        <span class="glyphicon glyphicon-chevron-up"></span>
      </span>
      <span class="badge">
        <span class="glyphicon glyphicon-chevron-down"></span>
      </span>
      <%= task.name %>
    </li>
  </ul>
<% end %>