<div class="all-projects">
  <% if @project %>
    <div class="index-page">
      <% @projects.each do |project| %>
        <%= render "head", project: project %>
        <%= render "body" %>
      <% end %>
    </div>
  <% else %>
    <p> Please, create new project </p>
  <% end %>
</div>