/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-image: url('http://ipic.su/img/img7/fs/background.1455029097.png');
  background-attachment: fixed;
}

h1 {
  text-align: center;
}

.session {
  text-align: right;
  padding-right: 10px;
}

.projects-list {
  text-align: center;

  .glyphicon {
    padding-left: 5px;
    margin: 5px;
    font-size: 17px;
    padding-top: 3px;
  }

  span {
    color: white;
    float: right;
    margin: 5px;
    padding-right: 5px;
  } 
}
.new-page {
  text-align: center;

  .input-name {
    background-color: #337AB7;
    width: 25%;
    margin-left: 37%;
    
    .glyphicon {
      color: black;
      padding-left: 5px;
      margin: 5px;
      font-size: 17px;
      padding-top: 3px;
    }

    .button-submit {
      cursor: pointer;
    }
  }
  
} 




