/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap-sprockets";
@import "bootstrap";

* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url('http://ipic.su/img/img7/fs/background.1455029097.png');
  background-attachment: fixed;
  height: 100%;
}

html {
  min-height: 100%;
  position: relative;
}

h1 {
  text-align: center;
}

.session {
  text-align: right;
  padding-right: 10px;
}

.container {
  padding-bottom: 60px;
}

.index-page {
  .table {
    li {
      list-style-type: none;
    }
    td {
      height: 10px;
      vertical-align: middle;
      text-align: center;
      padding: 0px;
    }
    .task-name {
      width: 60%; 
      text-align: left;
      padding-left: 10px;
    }
    #hide {
      .glyphicon {
        color: white;
      }
    }
  }
  tr:hover {
    #hide {
      .glyphicon {
        color: grey;
      }
    }
  }
}

.project-head {
  table {
    vertical-align: center;
    margin: 0;

    .glyphicon {
      margin: 0px;
      font-size: 17px;
      padding: 5px 10px 5px 5px;
    }

    p {
      color: white;
      text-align: left;
      font-size: 17px;
      .glyphicon {
        color: black;
      }
    }
  }
}

.project-head:hover {
  .glyphicons {
    .glyphicon {
      color: white;
    }
  }
}

.panel-body {
  background-color: #eee;
  padding: 5px;
}

.projects-create {
  text-align: center;

  .glyphicon {
    padding-left: 5px;
    margin: 5px;
    font-size: 17px;
    padding-top: 3px;
  }

  span {
    color: white;
    float: right;
    margin: 5px;
    padding-right: 5px;
  } 
}

.new-page {
  text-align: center;

  .input-name {
    background-color: #337AB7;
    width: 25%;
    margin-left: 37%;
    
    .glyphicon {
      color: black;
      padding-left: 5px;
      margin: 5px;
      font-size: 17px;
      padding-top: 3px;
    }

    .button-submit {
      cursor: pointer;
    }
  }
  
} 

.footer {
  hight: 30px;
  margin-top: -10px;
  padding: 5px;
  color: #ffffff;
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
}


